:host {
  text-align: center;
}

nz-header {
  background-color: #4c8bf5;
}

nz-header h1 {
  color:#fff;
}

nz-footer {
  background-color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  line-height: 120px;
}

nz-content {
  padding-top: 50px;
  min-height: 50px;
  line-height: 50px;
  background-color: #fff;
  font-size: 2em;
}

.game-over {
  background-image: url(https://i.gifer.com/6SSp.gif);
  background-position: center;
  background-size: cover;
}

nz-layout {
  margin-bottom: 50px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}
